export(clusterAlgo
      ,clusterInit
      ,clusterStrategy
      ,clusterFastStrategy
      ,clusterDiagGaussianNames
      ,clusterGammaNames
      ,clusterCategoricalNames
      ,clusterValidDiagGaussianNames
      ,clusterValidGammaNames
      ,clusterValidCategoricalNames
      ,clusterDiagGaussian
      ,clusterHeterogeneous
      ,clusterGamma
      ,clusterCategorical
      )

export(CxxFlags,
       LdFlags
      )

exportClasses(ClusterAlgo
             ,ClusterInit
             ,ClusterStrategy
             ,IClusterModelBase
             ,ClusterDiagGaussian
             ,ClusterGamma
             ,ClusterCategorical
             ,ClusterHeterogeneous
             ,IClusterComponent
             ,ClusterDiagGaussianComponent
             ,ClusterGammaComponent
             ,ClusterCategoricalComponent
             )

exportMethods(print)
exportMethods(plot)
exportMethods(show)
exportMethods(summary)
exportMethods(missingValues)

import(Rcpp)
importFrom(methods,show)

useDynLib(rtkpp)
